h1 {
    font-size: 45px;
}

.main-section{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.answer-item {
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px;
    display: flex;
    font-size: x-large;
}

.answer-item:hover{
    background-color: fuchsia;
}

.answer-list {
    text-align: left;
    display: inline-block;
    padding-left: 0px;
}

.purp-btn {
    background-color: rebeccapurple;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.purp-btn:hover{
    background-color: fuchsia;
}

#view-scores {
    color: rebeccapurple;
}

.reaction{
    color: gray;
    /*border-top: 1px solid gray;*/
    padding-top: 10px;
}

.invisible{
    display: none;
}

.score-list{
    background-color: plum;
}

.score{
    margin: 5px 10px;
    padding: 5px 10px;
}

.countdown {
    float: right;
    display: inline-block;
    font-size: 20px;
}

.high-scores{
    display: inline-block;
}